@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.blinking-cursor {
  font-weight: 100;
  font-size: 2rem;
  color: white;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -20px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 30px) scale(0.9);
  }
}

.animate-blob {
  animation: blob 10s infinite;
}

html {
  scroll-behavior: smooth;
}
